body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,iput{margin:0;padding:0;}
body{font-size:13px;font-family: "微软雅黑";}
img{border:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;color: black;}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
input{
    background:none;
    outline:none;
    border:0px;
}
.clearfix{zoom:1;}

body{background-color: rgba(224, 231, 234, 1);}

.main{width: 100%;height: 100%}
/*通用样式*/
input[type="button"]{
    cursor: pointer;
}
input[type="checkbox"]{
    vertical-align: middle;
}
.dian{
    background: url(../img/aside/dian.png)no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 13px;
}
.active{
    background: white;
    color: black;
}
aside a{
    display: inline-block;
    width: 100%;
}
aside li:hover{
    color: black;
}
aside li{
    list-style: none;
}
.lf_active{
    background:#a1b7c9;
    color:white;
}
.lf_octive{
     background:white;
     color:black;
 }
.biaoqian{
    width:92% ;
    height: 45px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e7ea;
}
.biaoqian span{
    display: inline-block;
    cursor: pointer;
}
.biaoqian_line{
    width: 2px;
    background: #e0e7ea;
    margin-left: 10px;
    height: 19px;
    margin-right: 10px;
}
.biaoqian span ,.biaoqian a ,.biaoqian select{
    line-height: 26px;
    margin-top: 10px;
    vertical-align: middle;
}
.contain_bg{
    width: 100%;
    background: white;
    margin-top: 10px;
    height: 747px;
}
.tip_bg{
    padding: 14px;
    width: 89%;
    margin: 12px auto;
    background: #e0e7ea;
    color: #99a8b1;
}
.tip_bg p{
    line-height: 24px ;
}
.zp_list{
    width: 92%;
    margin: 0 auto;
}
table{
    width: 100%;
    text-align: center;
    margin-top: 25px;
    border-right:1px solid #e0e7ea;
    border-bottom:1px solid #e0e7ea;
}
table th{
    color :#8597a6;
    border-left:1px solid #e0e7ea;
    border-top:1px solid #e0e7ea;
    height: 34px;
    cursor: pointer;
}
table td{
    height: 45px;
    border-left:1px solid #e0e7ea;
    border-top:1px solid #e0e7ea;
    cursor: pointer;
}
.tx_tip{
    line-height: 36px;
    height: 36px;
    font-family: "黑体";
    font-size: 16px;
}
.bt{
    border-top: 1px solid #e0e7ea;
}
.bt h3,.bt span{
    line-height: 42px ;
}
.time{
    width: 92%;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}
.time .search{
    width: 60px;
    height: 28px;
    color: white;
    background: #a1b7c9;
    margin-left: 15px;
    cursor: pointer;
}
.time select{
    margin-left: 15px;
}
select{
    height: 28px;
    width: 118px;
    padding-left: 5px;
    border: 1px solid #a1b7c9;
}
.gf th{
    width: 42%;
}
.gf table{
    border-right: none;
}
.gf .bd{
    border: none;
}
.gf .gf_a{
    width: 100%;
}
.gf .gf_all td:last-child{
    border-left: none!important;
    text-align:right;
    padding-right: 30px;
}
.tx_top{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin-left: 15px;
}
.shenhe{
    color: green;
    text-indent:2em;
}
.red{color: red}
    /*通用样式end*/
/*稿费table公用*/
.gf_all{
    font-size: 14px;
}
.gf_all .total1{
    color: #3171fa;
}
.gf_all .yizhifu{
    color:#54c55d ;
}
.gf_all .total2{
    color: red;
}
/*index*/

.head_bg{
    width: 100%;
    height: 65px;
    background: url("../img/head/head_bg.png") no-repeat;
}
.head_detail{
    width: 50%;
    min-width: 620px;
    margin: 0 auto;
    height: 100%;
}
h1{
    display: inline-block;
    font-weight: 400;
    line-height: 55px;
    font-size: 26px;
}
.head_person{
    width:200px ;
    height: 30px;
    margin-top: 14px;
    display: table;
}
.head_person p{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.head_detail .line{
    width: 2px;
    height: 30px;
    display: inline-block;
    background: #a09c9c;
    margin-left: 10px;
    margin-top: 5px;
}
/*作者中心内容部分*/

.contain{
    width:60% ;
    margin: 20px auto;
    position: relative;
}
aside{
    width: 16%;
    height: 800px;
    min-width:150px ;
    background: white;
    display: inline-block;
}
active1{
    background:#a1b7c9;
}
aside dd{
    background:#f0f3f5;
    display: none;
}

aside dt,aside dd li{
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    color:#99a8b2;
}

aside dt{
    display: inline-block;
    margin-left: 0px;
    font-size: 16px;
    width: 100%;
}
aside dl .zzzq,aside dl .zpxg,aside dl .zpgl,aside dl .srmx{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 14px;
    vertical-align: sub;
    margin-right: 10px;
}
aside dl .ac_zzzq,aside dl .ac_zpxg,aside dl .ac_zpgl,aside dl .ac_srmx{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 14px;
    vertical-align: sub;
    margin-right: 10px;
}
aside dl .ac_zzzq{
    background: url("../img/aside/home-ac.png") center left no-repeat;

}
aside dl .ac_zpxg{
    background: url("../img/aside/read-ac.png") center left no-repeat;

}
aside dl .ac_zpgl{
    background: url("../img/aside/write-ac.png") center left no-repeat;

}
aside dl .ac_srmx{
    background: url("../img/aside/zzzq-ac.png") center left no-repeat;
}
aside dl .zzzq{
    background: url("../img/aside/home.png") center left no-repeat;

}
aside dl .zpxg{
    background: url("../img/aside/read.png") center left no-repeat;

}
aside dl .zpgl{
    background: url("../img/aside/write.png") center left no-repeat;

}
aside dl .srmx{
      background: url("../img/aside/zzzq.png") center left no-repeat;
}
section{
    margin-left:20px ;
    display: inline-block;
    position: absolute;
    width: 82%;
    min-width: 750px;
}
.contain .author_person,.contain .author_gggl{
    width: 100%;
    height: 115px;
    background: white;
}
.contain .author_announcement{
    width: 100%;
    height: 255px;
    background: white;
    margin-top: 10px;
}
.contain .author_anthology{
    width: 100%;
    height: 410px;
    background: white;
    margin-top: 10px;
}
.contain .author_tx{
    display: inline-block;
    width: 84px;
    height: 84px;
    margin-left: 30px;
    border: 1px solid #e0e7ea;
    border-radius: 42px;
    vertical-align: middle;
    margin-top: 18px;
}
.contain .author_name{
    font-size: 16px;
}
.contain .author_new{
    display: inline-block;
    width: 63%;
    vertical-align: middle;
    height: 80px;
    line-height: 46px;
    margin-left: 10px;
}
.contain .author_fabu{
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    width: 120px;
    height: 40px;
    color: white;
    background: #a1b7c9;
    cursor: pointer;
}
 .plus{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/Plus.png")no-repeat;
    vertical-align: middle;
}
 .goback{
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("../img/back.png")no-repeat;
     vertical-align: middle;
 }
 .ok{
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("../img/check.png")no-repeat;
     vertical-align: middle;
 }
 .san_xia{
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("../img/san_xia.png")no-repeat;
     vertical-align: middle;
 }
 .san_rt{
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("../img/san_rt.png")no-repeat;
     vertical-align: middle;
 }
 .trash{
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("../img/Trash.png")no-repeat;
     vertical-align: middle;
 }
 .pencil{
     display: inline-block;
     width: 20px;
     height: 20px;
     background: url("../img/Pencil.png")no-repeat;
     vertical-align: middle;
 }
.note{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/Note.png")no-repeat;
    vertical-align: middle;
}
.author_announcement .gg_neirong {
    width: 90%;
    margin: 0 auto;
}
.author_announcement .gg_neirong span{
    color:#909fa9;
}
.author_announcement .gg_neirong li{
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e0e7ea;
}
.check{
    width: 205px;
    height: 50px;
    background: white;
    opacity: 0.9;
    position: absolute;
    top:50px;
    z-index: -1;
}
/*作者中心内容部分end*/

/*作者公告管理*/
.contain_head{
    width: 100%;
    height: 43px;
    background: white;
}
.contain_head a, .contain_head span{
    height: 43px;
    line-height: 43px;
    color: #909fa9;
}
.contain_head .shouye{
    margin-left: 30px;
}
.contain_gggl{
    height: 747px!important;
}
.contain_gggl .gg_neirong li:first-child{
    list-style: none;
    color: #909fa9;
}
/*作者公告管理end*/
/*消息管理*/
.author_xx table th:first-child,.author_xx table td:first-child{
    text-align: left;
    padding-left: 10px;
}
.yidu{
    background: url("../img/head/icon_remind.png") no-repeat;
    width: 9px;
    height: 9px;
    display: inline-block;
}
.zp_list .author_tz{
    padding:15px ;
    background: #e0e7ea;
    line-height:20px ;
    height: auto;
}

/*消息管理end*/

/*作品管理*/
.author_xx table th:first-child,.author_xx table td:first-child{
    text-align: left;
    padding-left: 10px;
}
.yidu{
    background: url("../img/head/icon_remind.png") no-repeat;
    width: 20px;
    height: 9px;
    display: inline-block;
}
.fl_contain .fl_bg{
    padding: 14px;
    background: #e0e7ea;
}
.fl_contain p{
    line-height: 26px;
    height: 26px;
}
.fl_contain .fulisq{
    margin-top: 20px;
}
.zpgl_contain li{
    list-style: none;
}
.zpgl_contain li:not(:first-child){
    height: 45px;
    line-height: 45px;
}
.fl_contain .fulisq input{
    margin-left: 20px;
    width: 60px;
    background: #e0e7ea;
}
.zpgl_contain input{
    width:118px ;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e0e7ea;
}
.zpgl_contain .toux{
    margin-top: 25px ;
    margin-bottom: 30px;
}
.zpgl_contain .toux img:last-child{
    margin-left:72px ;
}
.zpgl_contain .tx_push input{
    margin-left: 20px;
}
.zpgl_contain .inp1{
    background: #3d474d;
    color: white;
}
.zp_list .zjgl_xuanze{
    height: 30px;
    margin:24px auto ;
}
.zjgl_xuanze .zjgl_name{
    font-size: 16px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.zjgl_xuanze .zjgl_show {
    margin-left: 40px;
    margin-right: 4px;
}
.zjgl_line{
    display: inline-block;
    height: 16px;
    width: 1px;
    background: #7a8d99;
}
.zjgl_xuanze span ,.zjgl_xuanze a{
    vertical-align: middle;
}
.zjgl_xuanze a{

    color:#909fa9 ;
}
.zjgl_xuanze input{
    float: right;
    margin-left: 30px;
    background: #a1b7c9;
    color: white;
    padding: 7px 20px;
}
.zp_list .zjgl_juan li{
    list-style: none;
    border-bottom: 1px solid #e0e7ea;
}
.zp_list .zjgl_juan ul li{
    width: 100%;
    /*height: 42px;*/
    line-height: 42px;
    cursor: pointer;
}
.zp_list .zjgl_juan li a {
    float: right;
    margin-left:20px ;
    margin-right:20px ;
    color:#a1b7c9;
}
.zp_list .zjgl_juan li span{

}
.zjgl_juan .zjgl_line{
    margin-top: 12px;
}
.zp_list .zjgl_zhang{
    width: 95% !important;
    margin-left: 5%;
}
.zpgl_gf table{
    margin-top: 0;
}
.to_cgx,.to_tjzp{
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    text-align: center;
    height: 36px;
    color: white;
    background: #a1b7c9;
    cursor: pointer;
    margin-left: 30px;
    color: white!important;
    padding: 0 10px 0 10px;
}
.gl_save{
    width: 200px!important;
    margin:50px auto;
    height: 40px!important;
    display: block;
}
.xgbq{
    width: 100%;
    height: auto;
    border: 1px solid #a1b7c9;
}
.xgbq span{
    margin:12px 25px 10px 10px;
    display: inline-block;
    width: 115px;
    height: 28px;
    background: #e0e7ea;
    text-align: center;
    line-height: 28px;
}
.xgbq span:last-child{
    background: none;
}
.xgbq a{
    background: url(../img/XX.png)no-repeat;
    width: 11px;
    height: 11px;
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}
.xgbq .tjbq{
    width: 80px;
    margin-left:10px;
}
/*章节管理end*/
/*修改章节*/
.xgzj_detail{
    width: 92%;
    margin: 0 auto;
}
.xgzj_detail ul{
    margin-top: 20px;
}
.xgzj_detail ul li{
    height: auto!important;
    list-style: none;
    margin-bottom: 12px;
}
.xgzj_ht{
    height: 1200px!important;
}
.xgzj_detail p{
    /*height: 30px;*/
    line-height: 30px;
}
.xgzj_detail ul li span{
    font-family: "黑体";
    display: inline-block;
}
.xgzj_detail ul li input{
    border: 1px solid #e0e7ea;
    padding-left: 8px;
}
.xgzj_detail input[type="button"]{
    height: 30px;
    width: 100px;
    background: #3d474d;
    color: white;
    border-radius: 4px;
    -moz-border-radius:4px; /* Firefox */
    -webkit-border-radius: 4px;
}
.wid_60{
    width: 60px;
}
.upload{
    margin-top: 50px;
}
.upload input{
    width: 140px!important;
    height: 50px!important;;
    margin-left: 5%;
}
.upload .kexuan{
    background: #a4a4a4!important;
}
.upload input:first-child{
    margin-left: 10%;
}
.xgzj_detail .cgx_tip{
    background: #e0e7ea;
    padding-left: 6px;
    margin-bottom: 5px;
}
.xgzj_detail .cgx_tip a{
    color: dodgerblue;
}
.xgzj_detail .cgx_tip span{
    color: red;
}
.back{
    margin-right: 60px;
    width: 80px;
    height: 30px !important;
    line-height: 30px!important;
    margin-top: 8px;
    background:#a1b7c9;
    color: white!important;
    text-align: center;

}
/*修改章节end*/
/*收款资料*/
.skxx_contain{
    height: 860px!important;
}
.skxx .skxx_detail{
    width: 70%;
    margin: 0 auto;
}
.skxx .skxx_detail ul{
    margin-top: 20px;
}
.skxx .skxx_detail ul li{
    height: 45px;
    list-style: none;
    line-height: 45px;
    margin-bottom: 12px;
}
.skxx .skxx_detail ul li span{
    font-family: "黑体";
    width: 100px;
    display: inline-block;
}
.skxx .skxx_detail ul li input{
    text-indent:2em;
    width:360px ;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e0e7ea;
}
.skxx .skxx_detail ul .zl_save{
    cursor: pointer;
    margin-top: 30px;
    margin-left: 25%;
    width: 200px;
    height: 40px;
    background: #3d474d;
    color: white;
}
/*收款资料*/
/*订阅 红包*/
.dy_total{
    width:92% ;
    height:117px ;
    margin: 25px auto;
}
.dy_total .lf_dy{
    width:34.8% ;
    height: 100%;
    float: left;
}
.dy_total .lf_dy p:first-child{
    text-align: center;
    line-height: 60px;
    width: 100%;
    height: 60px ;
    background: #87b6db;
    color: white;
    font-size: 20px;
}
.dy_total .lf_dy p:last-child{
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px ;
    background: #6594b9;
    color: white;
    font-size: 14px;
}
.dy_total .lf_dy p span{
    width: 49%;
    display: inline-block;
}
.dy_total .rt_dy{
    margin-left: 20px;
    width:58.8% ;
    height: 100%;
    float: right;
}
.dy_total .rt_dy p:first-child{
    text-align: center;
    line-height:45px;
    width: 100%;
    height: 45px ;
    background: #619d63;
    color: white;
    font-size: 16px;
}
.dy_total .rt_dy p span{
    display: inline-block;
    width: 33%;
    text-align: center;
}
.dy_total .rt_dy p:last-child{
    text-align: center;
    line-height:65px;
    width: 100%;
    height: 65px ;
    background: #7eca82;
    color: white;
    font-size: 16px;
}
.dy_total .dy_line{
    display: inline-block;
    width: 2px!important;
    background: white;
    height: 36px;
    vertical-align: middle;
}